.conta{
	background-color: rgb(3, 23, 65);
	color: white
}
.main{
	max-width: 1200px;
	margin: 0 auto;
  }
  
  h1 {
	  font-size: 24px;
	  font-weight: 400;
	  text-align: center;
  }
  
  img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  }
  
  .btn {
	color: #ffffff;
	padding: 0.8rem;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: 400;
	display: block;
	width: 100%;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: transparent;
  }
  
  .btn:hover {
	background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
	/* display: flex;
	flex-wrap: wrap;
	list-style: none;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0; */
	display: flex;
flex-wrap: wrap;
list-style: none;
flex-direction: row-reverse;
align-items: center;
  }
  
  .cards_item {
	display: flex;
	padding: 1rem;
  }
  
  @media (min-width: 40rem) {
	.cards_item {
	  width: 50%;
	}
  }
  
  @media (min-width: 56rem) {
	.cards_item {
	  width: 40%;
	}
  }
  
 